* {
    margin: 0%;
    padding: 0%;
}

#containermainbody{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#mainbody{
    background-color: gray;
    height: 90vh;
    width: 75vh;
    border-radius: 3%;
}

#tela{
    height: 13vh;
    background-color: aliceblue;
    margin: 3vh 3vh 0;
}

span{
    font-size: 7vh;
}

#play{
    margin: 2vh 1vh 0 0;
}

hr{
    margin: 0 0 5% 0;
}

#teclado{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 61%;
    margin: 0%;
}

#teclas{
    height: 11vh;
    width: 11vh;
    margin: 1% 3vh;
    border-radius: 47%;

}